@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #198755;
  --color-white-marfil: #FAFAFA;
  --color-black: #333139;
  --color-brown: #9D8B70;
  --color-red: #F44336;
  --color-green: #3FA651;
}

@layer base {

  a,
  button,
  select,
  .cursor-pointer-default {
    cursor: pointer;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }


}