@import "tailwindcss";

@theme {
  --color-primary: #198755;       /* en lugar de "0xFFFB0000" */
  --color-grey-dark: #BFBFBF;       /* en lugar de "0xFFBFBFBF" */
  --color-white: #FAFAFA;
  --color-black: #333139;
  --color-brown: #9D8B70;
  --color-red: #FF0000;
}

@layer base {
    a, button, .cursor-pointer-default {
      cursor: pointer;
    }
  }