@import "tailwindcss";

@theme {
  --color-primary: #198755;       /* en lugar de "0xFFFB0000" */
  --color-white-marfil: #FAFAFA;
  --color-black: #333139;
  --color-brown: #9D8B70;
  --color-red: #F44336;
  --color-green: #3FA651;
}

@layer base {
    a, button, .cursor-pointer-default {
      cursor: pointer;
    }
  }